{% extends "header.html" %}
{% block body %}

<div class="card text-center">
    <div class="card-header">
        <div class="card-body">
            <h5 class="card-text"> Terms & Privacy</h5>
        </div>
    </div>
</div>

<div class="card-body">
    <p class="card-title">
        Privacy Policy for Gator Joe's.<br>
        This text has been written as a mock-up for our website. It is not meant to be taken seriously.<br>
        Gator Joe's respects your privacy and the purpose for which our site visitors provide us information. We do not
        share, sell, or rent any of the information collected to any third parties and do not intend to do so in the
        future.<br>
        Information Collected <br>
        If you request or submit information to us by sending an e-mail via the "mail to:" function or filling out a
        "contact" form, we may save your e-mail address as well as any other information you may provide. This
        information may be used to contact you in the future by mail, e-mail, or phone to convey information about our
        solutions or services that we feel may benefit you. Your e-mail and other information you provide will not be
        sold to any third party. <br>
        Information Collected by Others <br>
        This notice addresses only the policy of Gator Joe's's website and not sites that users access via links from
        our site. Gator Joe's is not responsible for the information collection policies of other sites, nor for the
        practices employed by websites linked to or from our website, nor for the information or content contained
        therein. Often links to other websites are provided solely as pointers to information on topics that may be
        useful to our visitors. Users are advised to review the privacy policy of other websites. <br>
        Cookies <br>
        Gator Joe's's website does not use cookies. <br>
        Updating, Correcting, and Deleting Personal Information <br>
        If you would like to have your personal information removed from our records, please send an e-mail with "Remove
        personal information" in the subject line. <br>
        Legally Compelled Disclosure of Information <br>
        Gator Joe's may disclose information when legally compelled to do so; in other words, when we, in good faith,
        believe that the law requires it or for the protection of our legal rights. <br>
        Periodic Policy Changes <br>
        Please note that Gator Joe's reviews its privacy practices from time-to-time (i.e. to track technology and/or
        legal changes), and that these practices are subject to change. To ensure continuing familiarity with the most
        current version of our privacy policy, please bookmark and periodically review this page. <br>
        This policy statement is made in the name of Gator Joe's and is effective as of October 1st, 2019. This
        statement does not create an agreement between Gator Joe's and users, and as such, does not create any legal
        rights for any party. <br>
    </p>
</div>

{% endblock %}

